@font-face {
  font-family: "Beth Ellen";
  src: url("../fonts/beth-ellen/Beth-Ellen-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
}

html {
  font-size: 0.625em;
  /*(16px root * 0.625) = 10px*/
  line-height: 1;
}

body {
  font-size: 1.8rem;
  /*18px*/
  line-height: 2;
  /*36px*/
  letter-spacing: 0.0625em;
  /*1px*/
  font-family: "Alegreya", serif;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
}

h1 {
  font-size: 2.5em;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: 0.0625em;
  text-align: center;
}

h2,
h3 {
  font-size: 1.5em;
  font-weight: 400;
  font-style: italic;
  font-variant: small-caps;
  line-height: 1.2;
  letter-spacing: 0.0625em;
  text-align: center;
}

h4,
h5,
h6 {
  font-size: 1.17em;
  font-weight: 500;
  font-style: italic;
  font-variant: small-caps;
  line-height: 1.2;
  letter-spacing: 0.0625em;
  text-align: center;
}

p:not(figcaption p) {
  text-align: justify;
}

.drop-cap {
  font-size: 2.5em;
  line-height: 1;
  float: left;
}

a,
abbr {
  line-height: 1.5;
  text-decoration: none;
}

i[lang],
dfn,
abbr,
q {
  font-style: italic;
  text-decoration: none;
}

cite {
  font-variant: small-caps;
  font-weight: 500;
  font-style: italic;
}

blockquote {
  text-align: center;
  line-height: 2.5;
}

figcaption {
  font-size: 0.778em;
  /*14px*/
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
}

.script {
  font-family: "Beth Ellen", cursive;
  font-weight: 400;
  font-style: normal;
}

.top-link {
  text-align: center;
}

body > footer:first-of-type {
  font-weight: 500;
  font-size: 0.778em;
  /*14px*/
}

*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body .container {
  /*18px*/
  max-width: 60em;
  /*1080px*/
  margin: 0 auto;
  padding: 0 2em;
}

body > header:first-of-type {
  padding: 1em 0;
}

body section {
  padding: 2em 0;
}

body section::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  clear: both;
}

body > footer:first-of-type {
  /*14px*/
  margin-top: 2em;
  padding: 2em 0;
}

body > footer:first-of-type > .container {
  /*14px*/
  max-width: 76em;
  /*1080px*/
}

body > footer:first-of-type > .container p:last-of-type {
  margin-bottom: 0;
}

h1,
h2,
h3 {
  margin-bottom: 1em;
  padding: 0.25em 0.5em;
}

h4,
h5,
h6 {
  margin-bottom: 1em;
  padding: 0 0.5em;
}

p,
ul,
ol,
blockquote,
figure,
hr {
  margin-bottom: 2em;
}

hr {
  margin: 2em 0;
  clear: both;
}

ul,
ol {
  margin-left: 2em;
}

ul > li,
ol > li {
  padding-left: 0.25em;
}

blockquote {
  /*18px*/
  margin: 2em auto;
  padding: 3em 2em;
  max-width: 30em;
  /*540px*/
}

figure {
  /*18px*/
  max-width: 30em;
  /*540px*/
  margin-left: auto;
  margin-right: auto;
}

img {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

figcaption {
  padding: 1em;
}

figcaption p:last-of-type {
  margin-bottom: 0;
}

.drop-cap {
  float: left;
  padding: 0 0.25em;
  margin-top: 0.25em;
  margin-right: 0.25em;
}

.top-link {
  display: table;
  margin: 0 auto;
}

.top-link [class|="fa"],
.top-link svg {
  margin-left: 0.125em;
}

.no-float {
  float: none;
  clear: both;
}

.clear-fix {
  clear: both;
  margin-bottom: 2em;
}

body {
  color: #300;
  background: #EFEBE9;
}

body > header:first-of-type {
  color: #EFEBE9;
  background: #100;
}

h2,
h3 {
  border-top-color: #D2C6C2;
  border-bottom-color: #D2C6C2;
}

.drop-cap {
  border-color: #D2C6C2;
  background-color: #e8e1df;
}

a {
  color: #900;
  border-bottom-color: #900;
}

a:hover {
  color: #cc0000;
  border-bottom-color: #cc0000;
}

a:target {
  color: #FFE0B2;
}

cite,
abbr {
  border-bottom-color: #D2C6C2;
}

blockquote {
  color: #660000;
  background: #ffeacc;
}

figcaption {
  color: #D2C6C2;
  background-color: #100;
}

figcaption cite {
  border-bottom-color: #56453f;
}

figcaption a {
  color: #D2C6C2;
  border-bottom-color: #D2C6C2;
}

figcaption a:hover {
  color: #EFEBE9;
  border-bottom-color: #EFEBE9;
}

body > footer:first-of-type {
  color: #100;
  background: #D2C6C2;
}

body > footer:first-of-type a {
  color: #100;
  border-bottom-color: #100;
}

body > footer:first-of-type a:hover {
  color: #900;
  border-bottom-color: #900;
}

h2,
h3 {
  border-top-style: double;
  border-bottom-style: double;
}

.drop-cap {
  border-style: double;
}

ol {
  list-style: upper-roman outside;
}

a {
  border-bottom: dotted 1px;
}

a:hover {
  border-bottom-style: solid;
}

abbr {
  border-bottom: dotted 1px;
  cursor: help;
}

cite {
  border-bottom-style: double;
}

figure,
blockquote {
  -webkit-box-shadow: 5px 5px 3px #D2C6C2;
          box-shadow: 5px 5px 3px #D2C6C2;
}

hr {
  -webkit-border-before: none;
          border-block-start: none;
  -webkit-border-after: none;
          border-block-end: none;
  border: none;
  border-bottom: double #D2C6C2;
}

.frame {
  /*21px*/
  position: relative;
  display: block;
  max-width: 24em;
  /*504px*/
  margin: 2em auto;
  padding: 2em;
  font-weight: 500;
  font-size: 1.17em;
  font-variant: small-caps;
  font-style: italic;
  text-align: center;
  outline: solid 2px #300;
  outline-offset: -6px;
  border: solid 4px transparent;
  -webkit-box-shadow: 0 0 0 1px #300, 5px 5px 3px #D2C6C2;
          box-shadow: 0 0 0 1px #300, 5px 5px 3px #D2C6C2;
  background: transparent;
  background: url("svg/corner-top-left.svg") no-repeat 0 0, url("svg/corner-top-right.svg") no-repeat 100% 0, url("svg/corner-bottom-right.svg") no-repeat 100% 100%, url("svg/corner-bottom-left.svg") no-repeat 0 100%;
}

.frame::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: transparent;
  background: url("svg/corner-mask.svg") no-repeat 0 0/8px, url("svg/corner-mask.svg") no-repeat 100% 0/8px;
}

.frame::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background: transparent;
  background: url("svg/corner-mask.svg") no-repeat 100% 100%/8px, url("svg/corner-mask.svg") no-repeat 0 100%/8px;
}

.frame strong,
.frame em,
.frame b,
.frame i[lang] {
  font-weight: 500;
}

.frame p:last-of-type,
.frame ul:last-of-type,
.frame ol:last-of-type {
  margin-bottom: 0;
}

#masthead {
  text-align: center;
}

#masthead .brand {
  font-size: 1.17em;
  /*21px*/
  font-family: "Beth Ellen", cursive;
  font-weight: normal;
  color: #D2C6C2;
  text-decoration: none;
  border: none;
}

#masthead .brand:hover {
  color: #EFEBE9;
}

#masthead #page-menu > ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#masthead #page-menu > ol > li {
  display: inline-block;
  padding-left: 0;
  margin: 0.5em;
}

#masthead #page-menu > ol > li a {
  color: #D2C6C2;
  border-bottom-color: #D2C6C2;
}

#masthead #page-menu > ol > li a:hover {
  color: #EFEBE9;
  border-bottom-color: #EFEBE9;
}

#masthead #page-menu > ol > li a.active {
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

#headline {
  color: #EFEBE9;
  background: #300;
  min-height: 30vh;
  margin-bottom: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#headline .title {
  font-size: 1.5em;
  /*27px*/
  font-weight: 400;
  font-style: italic;
  font-variant: small-caps;
  line-height: 1.2;
  letter-spacing: 0.0625em;
  margin: 0 0 0.5em 0;
  padding: 0;
}

#headline .subtitle {
  font-size: 2.5em;
  /*45px*/
  font-weight: 400;
  font-style: italic;
  font-variant: normal;
  line-height: 1.2;
  letter-spacing: 0.0625em;
  margin: 0;
  padding: 0.25em;
}

#index .frame {
  /*21px*/
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  margin: 0 auto;
  max-width: 24em;
  /*504px*/
}

#index .frame .subtitle {
  font-size: 1.283em;
  /*27px*/
}

#index .frame #content-menu {
  list-style: none;
  counter-reset: custom 0;
  margin: 0;
  padding: 0;
}

#index .frame #content-menu > li {
  padding-left: 0;
  counter-increment: custom;
  text-align: center;
  border-bottom: dotted 1px #bcaba5;
  font-size: 1.8rem;
}

#index .frame #content-menu > li::before {
  content: counter(custom, upper-roman) ".";
  width: 2em;
  /*36px*/
  text-align: left;
  float: left;
  clear: left;
}

#index .frame #content-menu > li > a {
  border: none;
  width: 100%;
  margin-right: 1em;
  /*18px*/
}

#index .frame #content-menu > li > a [class|="fa"],
#index .frame #content-menu > li > a svg {
  margin-top: 0.5em;
  float: right;
  clear: right;
}

@media screen and (min-width: 55em) {
  body > header > .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body > header > .container .brand {
    margin-right: 1em;
  }
  section:not(#headline):not(#index) figure:not(.no-float) {
    /*18px*/
    width: 40%;
    margin-top: 0.5em;
    margin-bottom: 1em;
  }
  section:not(#headline):not(#index):nth-of-type(odd) figure:not(.no-float):nth-of-type(odd) {
    float: right;
    margin-left: 1.5em;
  }
  section:not(#headline):not(#index):nth-of-type(odd) figure:not(.no-float):nth-of-type(even) {
    float: left;
    margin-right: 1.5em;
  }
  section:not(#headline):not(#index):nth-of-type(even) figure:not(.no-float):nth-of-type(odd) {
    float: left;
    margin-right: 1.5em;
  }
  section:not(#headline):not(#index):nth-of-type(even) figure:not(.no-float):nth-of-type(even) {
    float: right;
    margin-left: 1.5em;
  }
  section:not(#headline):not(#index)#eighteenth-century figure.no-float:nth-of-type(2) {
    max-width: 40em;
  }
  section:not(#headline):not(#index)#italy figure.no-float:last-of-type {
    max-width: 40em;
  }
  section:not(#headline):not(#index) .frame,
  section:not(#headline):not(#index) blockquote {
    display: table;
  }
  section:not(#headline):not(#index)#sixteenth-century .frame {
    margin-top: 1em;
  }
  section:not(#headline):not(#index)#lord-byron figure {
    width: 50%;
  }
  section:not(#headline):not(#index)#lord-byron blockquote {
    float: right;
    width: initial;
    max-width: 46%;
    margin-top: 0;
  }
  section:not(#headline):not(#index)#lord-byron > .container > p:last-of-type {
    float: left;
    max-width: 50%;
    margin-top: 1em;
  }
  section:not(#headline):not(#index)#mark-twain figure:last-of-type {
    float: none;
    display: table;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=main.css.map */