@font-face {
  font-family: "Beth Ellen";
  src: url("../fonts/beth-ellen/Beth-Ellen-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
}

*,
::before, ::after {
  content: '';
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::before, ::after {
  position: absolute;
}

html {
  font-size: 62.5%;
  /* (16px * 0.625) = 10px root */
}

body {
  font-size: 1.8rem;
  /* 18px */
  line-height: 2;
  /* 36px */
  font-family: "Alegreya", serif, serif;
  font-weight: normal;
  color: #300;
  background: #efebe9;
}

h1, .h1 {
  /* target font size 45px (2.5 x paragraph text) */
  font-family: "Beth Ellen", cursive;
  font-size: 4.5rem;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 1.8rem;
}

h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  /* target font size 36px (2 x paragraph text) */
  font-family: "Alegreya", serif;
  font-size: 3.6rem;
  font-weight: normal;
  font-style: italic;
  line-height: 1;
  margin-bottom: 3.6rem;
}

p {
  /* target font size 18px (paragraph text) */
  margin-bottom: 3.6rem;
}

i[lang],
dfn {
  font-style: italic;
  color: #b71c1c;
}

em {
  font-style: italic;
}

ul,
ol,
dl {
  margin: 0 0 3.6rem 1.8rem;
}

li {
  padding: 0 0 0 0.45rem;
}

abbr {
  font-style: italic;
  text-decoration: none;
}

cite {
  font-style: italic;
  font-variant: small-caps;
  font-weight: 600;
  border-bottom-style: double;
}

q {
  font-style: italic;
}

.quote {
  font-family: "Beth Ellen", cursive;
  font-style: normal;
}

blockquote,
.blockquote {
  margin: 3.6rem 1.8rem;
  padding: 3.6rem;
  border-left: solid 3px #8c7b75;
  color: #300;
  background: #FFF3E0;
  -webkit-box-shadow: 5px 5px 3px rgba(26, 0, 0, 0.2);
          box-shadow: 5px 5px 3px rgba(26, 0, 0, 0.2);
}

blockquote :last-child,
.blockquote :last-child {
  margin-bottom: 0;
}

a {
  color: #b71c1c;
  text-decoration: none;
  line-height: 1.8rem;
  border-bottom: dotted 1px #b71c1c;
}

body > header {
  padding: 1.8rem;
  color: #efebe9;
  background: #1a0000;
}

body > header a {
  color: #efebe9;
}

body > main > * {
  padding-left: 1.8rem;
  padding-right: 1.8rem;
}

body > footer {
  padding: 3.6rem 1.8rem;
  color: #8c7b75;
  background: #1a0000;
  font-size: 1.6rem;
}

body > footer :last-child {
  margin-bottom: 0;
}

body > footer a {
  color: #8c7b75;
  border-bottom-color: #8c7b75;
}

body > footer a:hover {
  color: #FFF3E0;
  border-bottom-color: #FFF3E0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.showcase {
  text-align: center;
  background: #300;
  color: #efebe9;
  padding: 3.6rem;
  margin-bottom: 5.4rem;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.showcase :last-child {
  margin-bottom: 0;
}

.highlight {
  display: block;
  font-weight: 500;
  font-variant: small-caps;
  --offset: 5px;
  /* control the size */
  padding: var(--offset);
  border: calc(2*var(--offset)) solid #0000;
  outline: 1px solid #000;
  outline-offset: calc(-1*var(--offset));
  background: conic-gradient(from 90deg at 1px 1px, #0000 90deg, #000 0);
  margin: 3.6rem 0;
  padding: 3.6rem;
}

.highlight strong,
.highlight em,
.highlight i {
  font-weight: 500;
}

.highlight :last-child {
  margin-bottom: 0;
}

#masthead {
  text-align: center;
}

#masthead .logo {
  font-family: "Beth Ellen", cursive;
  font-weight: normal;
  border: none;
}

#masthead #main-menu > ol {
  list-style-type: none;
  padding: 0;
  margin: 1.8rem 0;
}

#masthead #main-menu > ol > li {
  margin: 1.8rem 0.9rem;
}

#masthead #main-menu > ol > li > a {
  display: inline-block;
  color: #efebe9;
  border: none;
  padding: 0.45rem 0;
}

#masthead #main-menu > ol > li > a:hover {
  color: #FFF3E0;
  border-bottom: dotted 1px #FFF3E0;
}

#masthead #main-menu > ol > li > a.active {
  color: #FFF3E0;
  border-bottom: solid 1px #efebe9;
}
/*# sourceMappingURL=main.css.map */