@font-face {
  font-family: "Beth Ellen";
  src: url("../fonts/beth-ellen/Beth-Ellen-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

*,
::before,
::after {
  content: '';
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* (16px * 0.625) = 10px root */
}

body {
  font-size: 1.8rem;
  /* 18px */
  line-height: 2;
  /* 36px */
  font-family: "Alegreya", serif, serif;
  font-weight: normal;
  color: #300;
  background: #efebe9;
}

body > header {
  padding: 1.8rem;
  color: #efebe9;
  background: #1a0000;
}

body > header a {
  color: #efebe9;
}

body > main > * {
  padding-left: 1.8rem;
  padding-right: 1.8rem;
}

body > footer {
  padding: 3.6rem 1.8rem;
  color: rgba(239, 235, 233, 0.5);
  background: #1a0000;
  font-size: 1.6rem;
}

body > footer :last-child {
  margin-bottom: 0;
}

body > footer a {
  color: rgba(239, 235, 233, 0.5);
}

h1, .h1 {
  /* target font size 45px (2.5 x paragraph text) */
  font-family: "Beth Ellen", cursive;
  font-size: 4.5rem;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 1.8rem;
}

h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  /* target font size 36px (2 x paragraph text) */
  font-family: "Alegreya", serif;
  font-size: 3.6rem;
  font-weight: normal;
  font-style: italic;
  line-height: 1;
  margin-bottom: 3.6rem;
}

p {
  /* target font size 18px (paragraph text) */
  margin-bottom: 3.6rem;
}

a {
  color: #b71c1c;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

i[lang] {
  font-style: italic;
}

ul,
ol,
dl {
  margin: 0 0 3.6rem 1.8rem;
}

li {
  padding: 0 0 0 0.45rem;
}

dfn {
  color: #b71c1c;
}

cite {
  font-style: italic;
  font-variant: small-caps;
  font-weight: 600;
}

q, .quote {
  font-family: "Beth Ellen", cursive;
  font-weight: normal;
  font-style: normal;
}

blockquote, .blockquote {
  position: relative;
  font-family: "Beth Ellen", cursive;
  margin: 3.6rem 1.8rem;
  padding: 3.6rem;
  border-left: solid 3px #300;
  color: #300;
  background: #FFF3E0;
  font-weight: 200;
  -webkit-box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
}

blockquote::before, blockquote::after, .blockquote::before, .blockquote::after {
  position: absolute;
  content: '"';
  color: #8c7b75;
}

blockquote::before, .blockquote::before {
  top: 3.6rem;
  left: 1.8rem;
}

blockquote::after, .blockquote::after {
  bottom: 3.6rem;
  right: 3.6rem;
}

blockquote :last-child, .blockquote :last-child {
  margin-bottom: 0;
}

.logo {
  font-family: "Beth Ellen", cursive;
  font-weight: normal;
  text-decoration: none;
}

.showcase {
  text-align: center;
  background: #300;
  color: #efebe9;
  padding: 3.6rem 1.8rem;
  margin-bottom: 5.4rem;
}

.showcase :last-child {
  margin-bottom: 0;
}

.highlight {
  display: block;
  position: relative;
  font-family: "Alegreya", serif;
  margin: 3.6rem 1.8rem;
  padding: 3.6rem;
  border-left: solid 3px #300;
  color: #300;
  background: #FFF3E0;
  font-weight: 200;
  -webkit-box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
}

.highlight :last-child {
  margin-bottom: 0;
}

#main-menu {
  color: #efebe9;
}

#main-menu > ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#main-menu > ol > li {
  padding: 0;
  margin: 0;
}

#main-menu > ol > li > a {
  color: #efebe9;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */