@import '_scale';
@import '_fonts';
@import '_colors';


// TYPOGRAPHY --------------------------------------------------
html { font-size: 0.625em; /*(16px root * 0.625) = 10px*/ line-height: 1; }
body { font-size: 1.8em; /*18px*/ line-height: 2; /*36px*/ letter-spacing: $scale-00625; /*1px*/ font-family: $font-primary; font-weight: 400; font-style: normal; font-variant: normal; }
h1 { // target font size 45px (2.5 x body text)
  font-size: 2.5em; font-weight: normal; line-height: 1.2; letter-spacing: $scale-00625; text-align: center; }
h2,
h3 { // target font size 27px (1.5 x body text)
  font-size: 1.5em; font-weight: 400; font-style: italic; font-variant: small-caps; line-height: 1.2; letter-spacing: $scale-00625; text-align: center; }
h4,
h5,
h6 { // target font size 21px (1.17 x body text)
  font-size: 1.17em; font-weight: 500; font-style: italic; font-variant: small-caps; line-height: 1.2; letter-spacing: $scale-00625; text-align: center; }
p:not(figcaption p) { text-align: justify; }
.drop-cap { // target font size 45px (2.5 x body text)
  font-size: 2.5em; line-height: 1; float: left; }
a,
abbr { line-height: 1.5; text-decoration: none; }
// strong,
// em,
// b,
i[lang],
dfn,
abbr,
q { font-style: italic; text-decoration: none; }
cite { font-variant: small-caps; font-weight: 500; font-style: italic; }
blockquote { text-align: center; line-height: 2.5; }
figcaption { font-size: 0.778em; /*14px*/ margin-inline-start: 0; margin-inline-end: 0; }
.script { font-family: $font-secondary; font-weight: 400; font-style: normal; }
.top-link { text-align: center; }
body > footer:first-of-type { font-weight: 500; font-size: 0.778em; /*14px*/ }


// LAYOUT --------------------------------------------------
*, ::before, ::after { box-sizing: border-box; margin: 0; padding: 0; }
body {
  & .container { /*18px*/ max-width: 60em; /*1080px*/ margin: 0 auto; padding: 0 (2*$scale-100); }
  & > header:first-of-type { padding: $scale-100 0; }
  & section { padding: (2*$scale-100) 0; &::after { content: ''; display: block; width: 0; height: 0; clear: both; } }
  & > footer:first-of-type { /*14px*/ margin-top: (2*$scale-100); padding: (2*$scale-100) 0;
    & > .container { /*14px*/ max-width: 76em; /*1080px*/
      & p:last-of-type { margin-bottom: 0; } } } }
h1,
h2,
h3 { margin-bottom: $scale-100; padding: $scale-025 $scale-050; }
h4,
h5,
h6 { margin-bottom: $scale-100; padding: 0 $scale-050; }
p,
ul,
ol,
blockquote,
figure,
hr { margin-bottom: (2*$scale-100); }
hr { margin: (2*$scale-100) 0; clear: both; }
ul,
ol { margin-left: (2*$scale-100);
  & > li { padding-left: $scale-025; } }
blockquote { /*18px*/ margin: (2*$scale-100) auto; padding: (3*$scale-100) (2*$scale-100); max-width: 30em; /*540px*/ }
figure { /*18px*/ max-width: 30em; /*540px*/ margin-left: auto; margin-right: auto; }
img { display: inline-block; vertical-align: middle; width: 100%; }
figcaption { padding: $scale-100;
  & p:last-of-type { margin-bottom: 0; } }
.drop-cap { float: left; padding: 0 $scale-025; margin-top: $scale-025; margin-right: $scale-025; }
.top-link { display: table; margin: 0 auto;
  & [class|="fa"],
  & svg { margin-left: $scale-0125; } }
.no-float { float: none; clear: both; }
.clear-fix { clear: both; margin-bottom: (2*$scale-100); }


// COLOR --------------------------------------------------
body { color: $color-primary; background: $color-light; }
body > header:first-of-type { color: $color-light; background: $color-dark; }
h2,
h3 { border-top-color: $color-muted; border-bottom-color: $color-muted; }
.drop-cap { border-color: $color-muted; background-color: lighten($color-muted, 10%); }
a { color: $color-link-default; border-bottom-color: $color-link-default;
  &:hover { color: $color-link-active; border-bottom-color: $color-link-active; }
  &:target { color: $color-link-target; } }
cite,
abbr { border-bottom-color: $color-muted; }
blockquote { color: lighten($color-primary, 10%); background: lighten($color-highlight, 5%); }
figcaption { color: $color-muted; background-color: $color-dark;
    & cite { border-bottom-color: darken($color-muted, 50%); }
    & a { color: $color-muted; border-bottom-color: $color-muted;
      &:hover { color: $color-light; border-bottom-color: $color-light; } } }
body > footer:first-of-type { color: $color-dark; background: $color-muted;
  & a { color: $color-dark; border-bottom-color: $color-dark; }
  & a:hover { color: $color-link-default; border-bottom-color: $color-link-default; } }


// DESIGN --------------------------------------------------
h2,
h3 { border-top-style: double; border-bottom-style: double; }
.drop-cap { border-style: double; }
ol { list-style: upper-roman outside; }
a { border-bottom: dotted 1px; }
a { &:hover { border-bottom-style: solid; } }
abbr { border-bottom: dotted 1px; cursor: help; }
cite { border-bottom-style: double; }
figure,
blockquote { box-shadow: 5px 5px 3px $color-muted; }
hr { border-block-start: none; border-block-end: none; border: none; border-bottom: double $color-muted; }

// FRAME
%frame { position: relative; display: block; max-width: 24em; /*504px*/ margin: (2*$scale-100) auto; padding: (2*$scale-100); font-weight: 500; font-size: 1.17em; /*21px*/ font-variant: small-caps; font-style: italic; text-align: center; outline: solid 2px transparent; outline-offset: -6px; border: solid 4px transparent; background: transparent;
    &::before,
    &::after { content: ''; position: absolute; left: 0; width: 100%; height: 8px; background-color: transparent; }
    & strong,
    & em,
    & b,
    & i[lang] { font-weight: 500; }
    & p:last-of-type,
    & ul:last-of-type,
    & ol:last-of-type { margin-bottom: 0; } }
.frame {
  &-dark { @extend %frame; outline-color: $color-primary; box-shadow: 0 0 0 1px $color-primary, 5px 5px 3px $color-muted; background: url('svg/corner-top-left-dark.svg') no-repeat 0 0, url('svg/corner-top-right-dark.svg') no-repeat 100% 0, url('svg/corner-bottom-right-dark.svg') no-repeat 100% 100%, url('svg/corner-bottom-left-dark.svg') no-repeat 0 100%;
    &::before { top: 0; background: url('svg/corner-mask-light.svg') no-repeat 0 0/8px, url('svg/corner-mask-light.svg') no-repeat 100% 0/8px; }
    &::after { bottom: 0; background: url('svg/corner-mask-light.svg') no-repeat 100% 100%/8px, url('svg/corner-mask-light.svg') no-repeat 0 100%/8px; } }
  &-light { @extend %frame; outline-color: darken($color-muted, 25%);
    box-shadow: 0 0 0 1px darken($color-muted, 25%);
    background: url('svg/corner-top-left-light.svg') no-repeat 0 0, url('svg/corner-top-right-light.svg') no-repeat 100% 0, url('svg/corner-bottom-right-light.svg') no-repeat 100% 100%, url('svg/corner-bottom-left-light.svg') no-repeat 0 100%;
    &::before { top: 0; background: url('svg/corner-mask-dark.svg') no-repeat 0 0/8px, url('svg/corner-mask-dark.svg') no-repeat 100% 0/8px; }
    &::after { bottom: 0; background: url('svg/corner-mask-dark.svg') no-repeat 100% 100%/8px, url('svg/corner-mask-dark.svg') no-repeat 0 100%/8px; } } }


// MENU
#masthead {
  & .layout { display: flex; align-items: center; justify-content: space-between;
    & .brand { font-size: 1.17em; /*21px*/ font-family: $font-secondary; font-weight: normal; color: $color-muted; text-decoration: none; border: none;
      &:hover { color: $color-light; } }
    & label[for="page-menu-toggle"] { cursor: pointer;
      & .logo { pointer-events: none; } } }
  & #page-menu { overflow: hidden; opacity: 0; height: 0; padding: 0 2px;
    -webkit-transition: height .5s ease-in-out, opacity .5s ease-in-out;
    -moz-transition: height .5s ease-in-out, opacity .5s ease-in-out;
    -o-transition: height .5s ease-in-out, opacity .5s ease-in-out;
    -ms-transition: height .5s ease-in-out, opacity .5s ease-in-out;
    transition: height .5s ease-in-out, opacity .5s ease-in-out;
    & > ol { list-style-type: none; margin: (1.5*$scale-100) auto; padding: $scale-100; font-size: 1em; /*18px*/ font-weight: normal; font-style: normal; font-variant: normal;
      & > li { padding: $scale-025; margin: 0;
        & a { color: $color-muted; border-bottom-color: $color-muted;
          &:hover { color: $color-light; border-bottom-color: $color-light; }
          &.active { border-bottom-style: solid; border-bottom-width: 2px; } } } } }
  & #page-menu-toggle { width: 0; height: 0; position: absolute; top: -999em; right: -999em; display: none;
    &:checked ~ #page-menu { opacity: 100%; height: 17em; } } }

#headline { color: $color-light; background: $color-primary; min-height: 50vh; margin-bottom: (2*$scale-100); display: flex; flex-direction: column; align-items: center; justify-content: center;
  & .title { font-size: 1.5em; /*27px*/ font-weight: 400; font-style: italic; font-variant: small-caps; line-height: 1.2; letter-spacing: $scale-00625; margin: 0 0 $scale-050 0; padding: 0; }
  & .subtitle { font-size: 2.5em; /*45px*/ font-weight: 400; font-style: italic; font-variant: normal; line-height: 1.2; letter-spacing: $scale-00625; margin: 0; padding: $scale-025; } }

#index {
  & [class|="frame"] { /*21px*/ font-weight: normal; font-style: normal; font-variant: normal; margin: 0 auto;
    & .subtitle { font-size: 1.283em; /*27px*/ }
    & #content-menu { list-style: none; counter-reset: custom 0; margin: 0; padding: 0;
      & > li { padding-left: 0; counter-increment: custom; text-align: center; border-bottom: dotted 1px darken($color-muted, 10%); font-size: 0.855em; /*18px*/
        &::before { content: counter(custom, upper-roman)'.'; width: (2*$scale-100); /*36px*/ text-align: left; float: left; clear: left; }
      & > a { border: none; width: 100%; margin-right: $scale-100; /*18px*/
        & [class|="fa"],
        & svg { margin-top: $scale-050; float: right; clear: right; } } } } } }


// TOUR ITEMS
// .entourage,
// .transportation,
// .country,
// .city,
// .site,
// .activity,
// .souvenir,
// .author,
// .publication { }


// MEDIA QUERIES --------------------------------------------------
// 720px = 45em
// 800px = 50em
// 960px = 60em
// 1024px = 64em


@media screen and (min-width: 55em) { /*880px*/


  // MENU
  #masthead {
    & > .container { display: flex; align-items: center; justify-content: space-between;
      & .layout {
        & .brand { margin-right: $scale-050; }
        & label[for='page-menu-toggle'] { cursor: default; pointer-events: none; } }
      & #page-menu { overflow: visible; opacity: 100%; height: auto;
        & > ol { margin: 0 auto; padding: 0;
          & > li { padding: 0 $scale-025; margin: 0 $scale-025; display: inline-block;
            &:first-child { margin-left: 0; }
            &:last-child { margin-right: 0; } } } }
      & #page-menu-toggle {
        &:checked ~ #page-menu { opacity: 100%; height: auto; } } } }


  section:not(#headline):not(#index) {

    // FIGURES
    & figure:not(.no-float) { /*18px*/ width: 40%; margin-top: $scale-050; margin-bottom: $scale-100; }

    &:nth-of-type(odd) {
      & figure:not(.no-float) {
        &:nth-of-type(odd) { float: right; margin-left: (1.5*$scale-100); }
        &:nth-of-type(even) { float: left; margin-right: (1.5*$scale-100); } } }

    &:nth-of-type(even) {
      & figure:not(.no-float) {
        &:nth-of-type(odd) { float: left; margin-right: (1.5*$scale-100); }
        &:nth-of-type(even) { float: right; margin-left: (1.5*$scale-100); } } }

    &#eighteenth-century {
      & figure.no-float:nth-of-type(2) { max-width: 40em; }
    }

    &#italy {
      & figure.no-float:last-of-type { max-width: 40em; }
    }

    // FRAMES & BLOCKQUOTES
      & [class|="frame"],
      & blockquote { display: table; }

      &#sixteenth-century {
        & [class|="frame"] { margin-top: $scale-100; } }

      &#lord-byron {
        & figure { width: 50%; }
        & blockquote { float: right; width: initial; max-width: 46%; margin-top: 0; }
        & > .container > p:last-of-type { float: left; max-width: 50%; margin-top: $scale-100; } }

      &#mark-twain {
        & figure:last-of-type { float: none; display: table; margin: 0 auto; } }

    }

}